/*******************************************************
*						 RESET
********************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-shadow:none;
	-webkit-font-smoothing: antialiased;
	font-family: 'Conv_optima-font', Verdana;
	/*-moz-transition: all .5s linear;
	-moz-transition: background-position none;
    -webkit-transition: all .5s linear;
    -webkit-transition: background-position none;
    transition: all .5s linear;
    transition: background-position none;*/
   
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.004);*/
}




/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
div{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************************************
*						FONTELLO
********************************************************/

@font-face {
    font-family: 'Conv_optima-font';
    src: url('../fonts/optima-font.eot');
    src: url('../fonts/optima-font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/optima-font.woff') format('woff'),
		 url('../fonts/optima-font.otf') format('opentype'),
         url('../fonts/optima-font.ttf') format('truetype'),
         url('../fonts/optima-font.svg#Conv_optima-font') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot?#iefix") format('embedded-opentype'), url("../fonts/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5); */
}

.icon-twitter:before { content: '\54'; } /* 'T' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-help:before { content: '\2753'; } /* '❓' */
.icon-direction:before { content: '\27a2'; } /* '➢' */
.icon-left-circle:before { content: '\e4a1'; } /* '' */
.icon-right-circle:before { content: '\e4a2'; } /* '' */
.icon-up-circle:before { content: '\e4a3'; } /* '' */
.icon-down-circle:before { content: '\e4a4'; } /* '' */
.icon-address:before { content: '\e723'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-location-1:before { content: '\e800'; } /* '' */
.icon-location-inv:before { content: '\e725'; } /* '' */
.icon-compass:before { content: '\e728'; } /* '' */
.icon-zoom-in:before { content: '\e750'; } /* '' */
.icon-zoom-out:before { content: '\e751'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
.icon-globe-alt:before { content: '🌐'; } /* '\1f310' */
.icon-target:before { content: '🎯'; } /* '\1f3af' */
.icon-thumbs-up:before { content: '👍'; } /* '\1f44d' */
.icon-monitor:before { content: '💻'; } /* '\1f4bb' */
.icon-mobile:before { content: '📱'; } /* '\1f4f1' */
.icon-link-2:before { content: '\e801'; } /* '' */


/*******************************************************
*					ESTILOS COMUNES
********************************************************/
body{font-size: 1em;}
p{
	text-shadow: 0px  1px 1px rgba(255, 255, 255, 0.3) ;
	color:#1a3163;
	margin: 5% 0 0% 0;
	font-size: 1em;
	line-height: 19px;
}

h3{
	color: #ffffff;
	text-shadow: 0px  1px 2px rgba(0, 0, 0, 0.2) ;
}

h1{
	color: #ffffff;
	text-shadow: 0px  1px 2px rgba(0, 0, 0, 0.2) ;
	font-size: 1.3em;
	margin: 5% 0 4% 0;
	text-transform: uppercase;
}

h1 span.enfasis{
	font-size: 1.4em;
}

h3 a, a:link, a:visited, a:active{
	color: #ffffff;
}

.ui-body-c .ui-link:visited {
color: #ffffff;
}

.body{
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, circle farthest-corner, #95A6B8 0%, #627284 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, circle farthest-corner, #95A6B8 0%, #627284 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(center, circle farthest-corner, #95A6B8 0%, #627284 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #95A6B8), color-stop(1, #627284));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #95A6B8 0%, #627284 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center, #95A6B8 0%, #627284 100%);

}

.center{
	text-align: center;
	display: block;
	position: relative;
}

.fb{
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #4d5f94;
	height: 28px;
	width: 28px;
	border: 1px solid rgba(77, 95, 148, 0.8); 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;

}

.fb .icon-facebook:before { 
	color: #4d5f94; 
	opacity: 1; 
	font-size: 15px;
	font-weight: bold; 
	text-align: right; 
	margin-top: 6px;
} 

.tw{
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(77, 95, 148, 0.8); 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	height: 28px;
	width: 28px;

}

.tw .icon-twitter:before { 
	color: #619fd5; 
	opacity: 1; 
	text-align: center;
	text-align: center; 
	margin-top: 5px;
} 


.contenido {
	position: absolute;
	width: 96%;
	bottom: 1.2%;
	left: 50%;
	margin-left: -48%;
}

/* HEADER Y FOOTER*/
.ui-header .ui-title, .ui-footer .ui-title {
	font-size: 15px;
	color: #1a3163;
	text-transform: uppercase;
	margin: 15px;
}

.ui-header .ui-title span.enfasis, .ui-footer .ui-title span.enfasis{
	font-size: 21px;
	color: #1a3163;
	text-transform: uppercase;
}

.ui-footer .ui-title span {
	font-size: 18px;
	color: #1a3163;
	text-transform: uppercase;
}

.ui-bar-a {
	border: 1px solid #fff;
	background: #fff;
	background: rgba(255, 255, 255, 0.98);
	font-weight: bold;
	text-shadow: 0 -1px 1px black;
}


.ui-header > .ui-btn, .ui-footer > a.ui-btn {
display: inline-block;
margin: 8px 0 0 0;
color: #1a3163;
text-transform: uppercase;
font-size: 7px;
}
a.ui-btn span{
font-size: 11px;
}
a.ui-btn span.enfasis{
color: #1a3163;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
}




/*******************************************************
*				   LISTADOS * NOTICIAS
********************************************************/


/*   LISTADOS * NOTICIAS   */
.content ul.listado.noticias{margin: 3% 0 0 0; position: relative; display: block;}
.content ul.listado.noticias a {display: block;}
.content ul.listado.noticias a {
	width: 100%;
	float: left;
	background: transparent;
	background: rgba(26, 49, 99, 0.06);
	border:0;
	border-top: 1px solid #99a7b6;
	border-top: 1px solid rgba(153, 167, 182, 0.75);
}

.content ul.listado.noticias a:nth-child(even){
	background: rgba(255, 255, 255, 0.08);
	/*border-top: 1px solid #99a7b6;*/
}

.content ul.listado.noticias a:nth-child(odd){
	background: transparent;
	background: rgba(26, 49, 99, 0.06);
	/*border-top: 1px solid #99a7b6;*/
}
.content ul.listado.noticias a:hover {
	background: rgba(255, 255, 255, 0.3);
}

.content ul.listado.noticias  h3{
	color: #1a3163;
	width: 60%;
	margin:5% 0 0 5%; 
	position: relative;
	display: block; 
	float: left;
	text-shadow:none;
	font-size: 17px;
	line-height: 20px;
}

.content ul.listado.noticias img{
	width: 30%;
	position: relative;
	display: block; 
	float: left;
}

.content ul.listado.noticias a.ver-mas{text-align: center; color: #fff; display:block; padding: 3% 0; text-decoration: none}


/* VISTA NOTICIA SINGLE */

h2{
	color: #ffffff;
	text-shadow: 0px  1px 2px rgba(0, 0, 0, 0.2) ;
	font-size: 1.3em;
	margin: 5% 0 4% 0;
	text-transform: uppercase;
}

h2 span.enfasis{
	font-size: 1.4em;
}

h2.noticia{
	margin: 25px 0 0 0;
	float: right;
	width: 70%;
}
img.noticia{
	margin: 25px 0 5% 0;
	float: left;
	width: 25%;
}

section.noticia p{
	clear: both;
	position: relative;
	float: left;
	margin: 1.7% 0 0 0;
}


/*******************************************************
*					      INDEX
********************************************************/
.seleccion{
	background-color: rgba(255, 255, 255, 0.15);
	height: auto;
	padding: 10px;
	margin-top: 30%;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -1px;
}

.select_nav{
	position: relative;
	float: left;
	background-color: rgba(255, 255, 255, 0.15);
	width:100%;
	margin-top: 1%;
	padding: 25px;
}

.rrss{
	width:28%;
	max-width: 100px;
	/*width: 100%;*/
	margin: 0 auto;
	margin-top: 10%;
}

.left-hr{
	border:0;
	height: 1px;
	width: 30%;
	background: #95a5b5;
	position: relative;
	left:0;
	position: absolute;
	top: 170px;
}

.right-hr{
	border:0;
	height: 1px;
	width: 30%;
	background: #95a5b5;
	position: relative;
	right:0;
	position: absolute;
	top: 170px;
}

.rrss:after{
	content: "";
	height: 0px;
    display: block;
    clear: both;
    margin:0px 0 0 0; 
}

.rrss a.tw{
	float: right;
	text-align: left;
}

.rrss a.fb{
	position: relative;
	float: left;
	text-align: center;
}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

	.logo {
	    background: url(../imgs/sprite-2x.png) no-repeat -196px 0px; 
	    background-size: 387px 107px;
	   	width:195px; 
	    height:107px;  
		margin: 0 auto;
		position: relative;
		margin-top: 10%;
	}

	.pc  { 
		background:url(../imgs/sprite-1x.png) no-repeat -205px -0px; 
		width:122px; 
		height:109px; 
		float: right;

	}
	.movil  { 
		background:url(../imgs/sprite-1x.png) no-repeat -337px -0px; 
		width:70px; 
		height:110px; 
		float: left;
	}
	.select_nav{
		padding: 20% 12% 20% 12%;
	}

	nav.main-menu ul li.ui-btn-up-c, nav.main-menu ul li.ui-btn-hover-c{padding: 0.9% 0}

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 380px) {

	.logo {
	    background: url(../imgs/sprite-2x.png) no-repeat -196px 0px; 
	    background-size: 387px 107px;
	    width:195px; 
	    height:107px;  
		margin: 0 auto;
		position: relative;
		margin-top: 5%;
	}

	.pc  { 
		background:url(../imgs/sprite-1x.png) no-repeat -205px -0px; 
		width:122px; 
		height:109px; 
		float: right;

	}
	.movil  { 
		background:url(../imgs/sprite-1x.png) no-repeat -337px -0px; 
		width:70px; 
		height:110px; 
		float: left;
	}

	nav.main-menu ul li.ui-btn-up-c, nav.main-menu ul li.ui-btn-hover-c{padding: 1.2% 0}

}

/* Tablets ----------- */
@media only screen 
and (min-width : 618px) {

	.logo {
	    background: url(../imgs/sprite-2x.png) no-repeat -370px 0px; 
		width:354px; 
		height:194px; 
		margin: 0 auto;
		position: relative;
		margin-top: 8%;
	}

	nav.main-menu ul li.ui-btn-up-c, nav.main-menu ul li.ui-btn-hover-c{padding: 2.9% 0}
	.pc  { 
		background:url(../imgs/sprite-2x.png) no-repeat -0px -0px; 
		width:221px; 
		height:198px;
		float: right; 
		margin-right: 15%;
	}
	.movil  { 
		background:url(../imgs/sprite-2x.png) no-repeat -230px -0px; 
		width:128px; 
		height:200px; 
		float: left;
		margin-left: 15%;
	}

	.select_nav{
		padding: 20% 3% 20% 3%;
	}
}

/* iPads (portrait) ----------- 
@media only screen 
and (min-device-width : 768px)
and (max-device-width : 1024px) 
and (orientation : portrait) {

}
*/

/*******************************************************
*					      HOME
********************************************************/
nav.main-menu ul li div.ui-btn-inner span.ui-icon{
	background-color: #9da7bb;
	background-color: rgba(96, 115, 147, 0.52);
}

nav.main-menu ul li div.ui-btn-inner div.ui-btn-text a{
	color:	#1a3163;
	font-size: 13px;
	text-transform: uppercase;
}

nav.main-menu ul li div.ui-btn-inner div.ui-btn-text a span{
	color:	#1a3163;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.ui-content .ui-listview-inset {
	margin: 0;
}

/*nav.main-menu ul li.ui-btn-up-c, nav.main-menu ul li.ui-btn-hover-c{padding: 0.9% 0}*/

nav.main-menu ul li div.ui-btn-inner{border-top: 0}

nav.main-menu ul li.ui-btn-down-c {
	background: 			#9cadc0 /*{c-bdown-background-color}*/;
	font-weight: bold;
	color: 					#1a3163 /*{c-bdown-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #9cadc0 /*{c-bdown-background-start}*/), to( #7c8da2 /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #9cadc0 /*{c-bdown-background-start}*/, #7c8da2 /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #9cadc0 /*{c-bdown-background-start}*/, #7c8da2 /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #9cadc0 /*{c-bdown-background-start}*/, #7c8da2 /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #9cadc0 /*{c-bdown-background-start}*/, #7c8da2 /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #9cadc0 /*{c-bdown-background-start}*/, #7c8da2 /*{c-bdown-background-end}*/);
}
.ui-btn-active{
	border: 0;
	background: 			#9cadc0 /*{c-bdown-background-color}*/;
	font-weight: bold;
	color: 					#1a3163 /*{c-bdown-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #9cadc0 /*{c-bdown-background-start}*/), to( #7c8da2 /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #9cadc0 /*{c-bdown-background-start}*/, #7c8da2 /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #9cadc0 /*{c-bdown-background-start}*/, #7c8da2 /*{c-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #9cadc0 /*{c-bdown-background-start}*/, #7c8da2 /*{c-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #9cadc0 /*{c-bdown-background-start}*/, #7c8da2 /*{c-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #9cadc0 /*{c-bdown-background-start}*/, #7c8da2 /*{c-bdown-background-end}*/);
}




nav.main-menu ul li.ui-corner-top, nav.main-menu ul li.ui-corner-bottom{
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}







/*******************************************************
*					 NUESTRA CARTA
********************************************************/

/*  TITULAR PLATOS  */
.content .tipo-plato{background-color: transparent; 
	color: #1a3163;
	 margin: 0 0 8% 0; 
	 position: relative; 
	 float: left; 
	 width: 100%;
	 display: block;
	}
.content .tipo-plato aside{ 
	font-size: 14px; 
	font-weight: bold; 
	text-transform: uppercase; 
	width: 100%;
	border-bottom: 1px solid #99a7b6;
	border-bottom: 1px solid rgba(153, 167, 182, 0.75);
	padding: 8px 0 10px 0;
	margin: 0 0 10px 0;
}
.content .tipo-plato aside:after{ 
	content: ""; 
	height: 0px;
    display: block;
    clear: both;
    margin:0; 
}
.content .tipo-plato aside h4{ 
	float: left; 
	display: block;  
}
.content .tipo-plato aside h4 span{ font-size: 18px; }
.content .tipo-plato aside div{ 
	float: right;
	font-size: 12px; 
	display: block;
	margin: 5px 0 0 0;
}


/* LISTADO DE PLATOS */

.content .tipo-plato ul li{
	display: block; 
	width: 100%;
	clear: both;
	float: left;
	margin: 0 0 4% 0;
}

.content .tipo-plato ul li h5 a{
	float: left;
	display: block;
	width: 50%;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
}

.content .tipo-plato ul li h5 a, 
.content .tipo-plato ul li h5 a:hover, 
.content .tipo-plato ul li h5 a:link,
.content .tipo-plato ul li h5 a:visited,
.content .tipo-plato ul li h5 a:active,
{color: #1a3163;}

.content .tipo-plato ul li span{ 
	float: right; 
	position: relative;
	display: block;
	width: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
} 




/*******************************************************
*					 NUESTRAS PROMOS
********************************************************/


/*   LISTADOS * NOTICIAS   */
.content ul.listado.promos{margin: 3% 0 0 0; position: relative; display: block;}
.content ul.listado.promos {display: block;}
.content ul.listado.promos li{
	width: 100%;
	float: left;
	background: transparent;
	background: rgba(26, 49, 99, 0.06);
	border:0;
	border-top: 1px solid #99a7b6;
	border-top: 1px solid rgba(153, 167, 182, 0.75);
	min-height: 140px;
	height: 100%;
}

.content ul.listado.promos li:nth-child(even){
	background: rgba(255, 255, 255, 0.08);
	/*border-top: 1px solid #99a7b6;*/
}

.content ul.listado.promos li:nth-child(odd){
	background: transparent;
	background: rgba(26, 49, 99, 0.06);
	/*border-top: 1px solid #99a7b6;*/
}


.content ul.listado.promos h3{
	color: #1a3163;
	width: 50%;
	text-transform: uppercase;
	margin:5% 0 0 5%; 
	position: relative;
	display: block; 
	float: left;
	text-shadow:none;
	font-size: 1em;
	line-height: 20px;
	font-weight: bold;
}

.content ul.listado.promos p{
	color: #1a3163;
	width: 50%;
	margin:1% 0 5% 5%; 
	position: relative;
	display: block; 
	float: left;
	text-shadow:none;
	font-size: 0.95em;
	line-height: 20px;
	font-weight: normal;
}

.content ul.listado.promos li aside{
	width: 25%;
	margin: 35px 0 0 0;
	height: 70px;
	position: absolute;
	right: 5%;
	display: block; 
	float: right;
	min-width: 100px;
}

.content ul.listado.promos li aside a{
	color: #000;
	font-size: 1.2em;
	border: 0;
	background: transparent;
	float: left;
	position: relative;
	display: block;
	width: 38px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.25);
	-webkit-border-radius: 150px;
	-mopx-border-radius: 150px;
	-ms-border-radius: 150px;
	-o-border-radius: 150px;
	border-radius: 150px;
	height: 38px;
}

.content ul.listado.promos li aside a.left{
	float: left;
	margin: 20px  0 0 8%;
}

.content ul.listado.promos li aside a.right{
	float: right;
	margin: 20px 8% 0 0;
}

.content ul.listado.promos li aside a:hover,
.content ul.listado.promos li aside a:active{
	background-color: rgba(255, 255, 255, 0.5);
}

.content ul.listado.promos li aside a i.icon-thumbs-up{
	color: #1a3163; 
	margin: 9px 0 0 0px;
	display: block;
	text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.7);
}

.content ul.listado.promos li aside a i.icon-twitter{
	color: #336fb3; 
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
	margin: 10px 0 0 -2px;
	display: block;
}




/*******************************************************
*					 ENCUENTRANOS
********************************************************/

.content .boton-location {
	color: #1a3163;
	width: 38%;
	padding: 2px 0 2px 0;
	opacity: 1;
	font-weight: bold;
	min-width: 120px;

}

.content .boton-location span.ui-btn-text{
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

.content .boton-location span.ui-btn-text i{
	font-size: 1.7em;
	font-weight: bold;
	text-transform: uppercase;
}

.content .boton-location span.ui-btn-text span.enfasis{
	font-size: 1.4em;
}




/* LOCALES ENCONTRADOS */

/*   LISTADOS * LOCALES   */
.content ul.listado.locales{margin: 3% 0 0 0; position: relative; display: block;}
.content ul.listado.locales {display: block;}
.content ul.listado.locales li{
	width: 100%;
	float: left;
	background: transparent;
	background: rgba(26, 49, 99, 0.06);
	border:0;
	border-top: 1px solid #99a7b6;
	border-top: 1px solid rgba(153, 167, 182, 0.75);
	min-height: 140px;
	height: 100%;
}

.content ul.listado.locales li:nth-child(even){
	background: rgba(255, 255, 255, 0.08);
	/*border-top: 1px solid #99a7b6;*/
}

.content ul.listado.locales li:nth-child(odd){
	background: transparent;
	background: rgba(26, 49, 99, 0.06);
	/*border-top: 1px solid #99a7b6;*/
}


.content ul.listado.locales h3{
	color: #1a3163;
	width: 50%;
	text-transform: uppercase;
	margin:5% 0 0 5%; 
	position: relative;
	display: block; 
	float: left;
	text-shadow:none;
	font-size: 1em;
	line-height: 20px;
	font-weight: bold;
}

.content ul.listado.locales p{
	color: #1a3163;
	width: 50%;
	margin:1% 0 5% 5%; 
	position: relative;
	display: block; 
	float: left;
	text-shadow:none;
	font-size: 0.95em;
	line-height: 20px;
	font-weight: normal;
}


.content ul.listado.locales li a.boton-location{
	float: right;
	width: 20%;
	margin-right: 5%;
	border:0;
	min-width: 159px;
}


input.filtrado{
	width: 60%;
	float: left;
}

.submit {
	float: left;
	width: 35px;
	height: 34px;
	border-bottom: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	background: #2e4571;
	margin: 8px 0 0 0;
	clear: right;
}



.submit i{
	float: left;
	margin: 7px 0 0 2px;
	font-size: 22px;
	color: #162034;
}

a.submit:after{
	content: "";
	height: 0px;
    display: block;
    clear: both;
    margin:0px 0 0 0; 
}

.filtrado.ui-corner-all{
	-webkit-border-radius: 0;
	-mox-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}


#log{display: block; clear: both;}





